* {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(59, 80, 97);
    color: aliceblue;
}

.body-paragraph {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
}

.header {
    font-size: 3rem;
    margin-bottom: 1rem;
}